<section id="about-me" class="flex flex-col md:flex-row gap-4 items-center">
  <img src="/public/img/porfile-img.webp" alt="Foto en pc" class="w-full md:w-1/2 rounded" />
  <div class="md:w-1/2">
    <h2 class="text-2xl font-bold mb-2 text-gradient text-gradient-hover">Sobre mí</h2>
    <p>
      ¡Hola! Soy Katherine Gomez, desarrolladora Full Stack y tester QA. Me enfoco en crear soluciones web funcionales, claras y orientadas a la experiencia del usuario. A lo largo de mi camino me he formado en desarrollo y automatización de pruebas, y fui construyendo una base sólida tanto en frontend como backend, sumando también experiencia en testing funcional y automatizado.
    </p>
  </div>
</section>
