<section class="flex flex-col md:flex-row items-center justify-between py-8">
  <div class="intro-text space-y-4">
    <h1 class="text-4xl font-bold text-gradient text-gradient-hover">Katherine Gomez</h1>
    <h2 class="text-2xl font-semibold text-gradient text-gradient-hover">Desarrolladora Web Full Stack & Tester QA</h2>
    <p>Codifico, testeo y aprendo cada día</p>
    <div class="flex gap-4">
      <a href="https://www.linkedin.com/in/katherinelujangomez/" target="_blank" class="glow-border button-content">Disponible para trabajar</a>
      <a href="/public/CV_Katherine_Gomez.pdf" download class="glow-border button-content">
        <i class="fa-solid fa-file"></i> Descargar CV
      </a>
    </div>
  </div>
</section>
