

<nav class="flex justify-between items-center">
  <ul class="flex gap-4">
    <li><a href="#about-me">Sobre mí</a></li>
    <li><a href="#projects">Proyectos</a></li>
    <li><a href="#contact">Contacto</a></li>
  </ul>
  <div class="container-switch">
    <label class="switch">
      <input type="checkbox" id="dark-mode-toggle" />
      <span class="slider">
        <i class="fa-solid fa-sun icon-sun"></i>
        <i class="fa-solid fa-moon icon-moon"></i>
      </span>
    </label>
  </div>
</nav>
