<section id="projects">
  <h2 class="text-2xl font-bold mb-4">Mis proyectos</h2>
  <div class="grid md:grid-cols-3 gap-4">
    <div class="project-card bg-white bg-opacity-10 p-4 rounded">
      <h3 class="font-semibold text-lg">Título del proyecto</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, doloremque.</p>
    </div>
    <div class="project-card bg-white bg-opacity-10 p-4 rounded">
      <h3 class="font-semibold text-lg">Título del proyecto</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, suscipit!</p>
    </div>
    <div class="project-card bg-white bg-opacity-10 p-4 rounded">
      <h3 class="font-semibold text-lg">Título del proyecto</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, perferendis.</p>
    </div>
  </div>
</section>
